/* Utilities */
.clearfix {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}

/* Base Elements */
img, media {
  max-width: 100%;
}

/* Components (Modules) */
/* Drupal Core: Block */
.block-content #tasks .tabs li a {
  top: 0px;
  margin-top: 0px;
}

/* Drupal Core: Contextual */
.contextual-links-wrapper {
  z-index: 10;
}

/* Drupal Contrib: Custom Search */
.custom_search-popup {
  z-index: 99 !important;
  width: 198px;
  background-color: white;
  padding: 0px 10px;
  border: 1px solid #DDD;
}
.custom_search-popup a {
  color: black !important;
}
.custom_search-popup label {
  position: relative !important;
}
.custom_search-popup .form-item {
  text-align: left;
}

.search-form .form-item-custom-search-blocks-form-1 {
  display: inline;
}

/* Drupal Contrib: Diff */
.page-node-revisions #block-system-main .diff-section-title,
.page-node-moderation #block-system-main .diff-section-title {
  margin: 0px 10px;
  font-size: 12px;
  padding: 5px;
  background-color: #eee;
  border: 1px solid #d4d4d4;
}
.page-node-revisions #block-system-main table.diff,
.page-node-moderation #block-system-main table.diff {
  width: auto;
  table-layout: auto;
}
.page-node-revisions #block-system-main table.diff-revisions,
.page-node-moderation #block-system-main table.diff-revisions {
  margin: 0px;
}
.page-node-revisions #block-system-main table.diff-revisions .error,
.page-node-moderation #block-system-main table.diff-revisions .error {
  color: #000;
}
.page-node-revisions #block-system-main table.diff-revisions .diff-revision td.revision-current,
.page-node-moderation #block-system-main table.diff-revisions .diff-revision td.revision-current {
  background: #aaffaa;
}

/* Drupal Core: Field */
.field-label-inline .field-label {
  margin: 0;
}

.field-name-field-featured-image-form .image-preview {
  float: none;
}

/* Drupal Contrib: Navbar */
.navbar-horizontal .tab a .ui-link:visited,
.navbar-vertical .tab a .ui-link:visited,
.navbar-tray-open .tab a .ui-link:visited {
  color: #FFFFFF;
}

.navbar-tray-open #wb-body {
  position: relative;
}

/* Drupal Core: Node */
html.js .page-node-add fieldset.collapsed, html.js .page-node-edit fieldset.collapsed {
  border-width: 1px;
  height: auto;
}
html.js .page-node-add .node-form h3.pane-title, html.js .page-node-edit .node-form h3.pane-title {
  background: #DDD;
  padding: 2px 4px;
}
html.js .page-node-add label[for="edit-language"],
html.js .page-node-edit label[for="edit-language"] {
  display: inline;
}
html.js .page-node-edit .pane-page-tabs ul.tabs {
  margin: 0px 0px;
}
html.js .page-node-edit .pane-page-tabs #tabs {
  margin: 0px 0px 0px 0px;
}

.node {
  margin-bottom: 0px;
}

.page-node .image-widget-data .form-file {
  border: none;
  box-shadow: none;
  padding: 0px;
}

#node-edit .image-widget .form-submit, #node-edit .file-widget .form-submit {
  display: inline;
}
#node-edit .form-actions input {
  display: inline;
}

/* Drupal Contrib: Open Layers */
.gmap img, .view-gmap img, .openlayers-map img, #getlocations_map_canvas img {
  max-width: none;
}

/* Drupal Contrib: Panels */
.pane-node-field-application-developer h2, .pane-node-field-application-categories h2,
.pane-node-field-departments h2, .pane-node-field-device-formats h2 {
  margin: 0px;
}

.pane-node-updated #gcwu-date-mod {
  position: relative;
  float: right;
}

.panels-ipe-editing .region-pearson-first {
  margin-right: 10px;
}
.panels-ipe-editing .region-pearson-second {
  margin-right: 10px;
}
.panels-ipe-editing #wb-sec-in {
  margin-top: 0px;
}

.panels-ipe-placeholder h3 {
  background: none;
  padding: 0px;
}
.panels-ipe-placeholder h4 {
  font-weight: 700;
  font-size: 15px;
  width: 75px;
  margin: 1.154em 0;
  line-height: 150%;
}

.panel-pane .block-content .node-unpublished {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.panel-pane .wet-menu-block {
  margin-bottom: 10px;
}

.panels-ipe-newblock li {
  list-style: none;
  float: left;
}

#panels-ipe-control-container a, #panels-ipe-control-container input {
  color: white;
}

/* Drupal Core: Search */
.search-form #edit-actions {
  display: inline;
}
.search-form .form-actions {
  display: inline;
}

/* Drupal Core: System */
figure {
  display: block;
  margin: 0px;
  padding: 0px;
}

ul.tabs {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.container {
  max-width: none !important;
}

.form-item label.option {
  display: inline;
}

.maintenance-page #main-content #content {
  padding: 10px;
}

#breadcrumb, .breadcrumb-wrapper {
  margin-left: 0px;
  margin-right: 0px;
}

#main-content {
  display: block !important;
}
#main-content #tasks ul.tabs {
  margin-bottom: 20px;
}

#status-messages {
  margin-top: 10px;
}

.progress {
  font-weight: normal;
}

/* Drupal Core: User */
.profile dl {
  margin-left: 10px;
  margin-right: 10px;
}

/* Drupal Contrib: Views Responsive Grids */
.views-responsive-grid img {
  width: auto !important;
  height: auto;
  float: left;
  margin-right: 10px;
  border: 1px solid #CCC;
}
.views-responsive-grid .views-row .span-3 {
  padding-bottom: 10px;
}

/* Drupal Contrib: WetKit */
.gcwu-minister {
  margin-top: 10px;
}
.gcwu-minister img {
  padding-right: 5px;
  float: left;
  margin: 0;
}
.gcwu-minister p {
  background-color: #FFF;
  margin: 0;
  padding: 10px 5px 10px 0;
}
.gcwu-minister p strong {
  font-weight: 700;
  color: #001D45;
}
.gcwu-minister ul {
  list-style-type: none;
  padding-top: 17px;
  margin: 0;
}
.gcwu-minister ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.gcwu-minister li {
  padding-bottom: 8px;
}
.gcwu-minister li a:hover, .gcwu-minister li a:focus, .gcwu-minister li a:active {
  text-decoration: none;
}
.gcwu-minister .gcwu-minister-in {
  background-color: #EEE;
  min-height: 149px;
}

#gcwu-bnr {
  z-index: 99 !important;
}
#gcwu-bnr #gcwu-bnr-in #gcwu-title {
  margin-top: 0px;
  padding-top: 7px;
  margin-bottom: 0px;
}

#gcwu-connect a {
  background: none;
  padding-right: 0;
  text-decoration: none;
}
#gcwu-connect h2 {
  border: none;
  margin-bottom: 5px;
  color: #333;
  float: left;
  margin-top: 2px;
  margin-right: 10px;
}
#gcwu-connect li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
}
#gcwu-connect ul {
  list-style-type: none;
}

#gcwu-headlines ul {
  list-style: none !important;
  margin: 0 !important;
}
#gcwu-headlines ul li {
  list-style: none !important;
  margin: 0 !important;
}

#gcwu-psnb .wet-boew-megamenu {
  z-index: 98 !important;
}
#gcwu-psnb .mb-menu {
  z-index: 98 !important;
}

#gcwu-sft li a[href^="mailto:"] {
  background-image: none;
  padding-left: 0px;
}

#gcwu-srchbx label {
  height: auto !important;
  width: auto !important;
  overflow: visible !important;
}
#gcwu-srchbx #gcwu-srchbx-in {
  display: inline;
}

#wb-aside {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
#wb-aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#wb-aside ul li {
  margin: 0;
  padding: 0;
}
#wb-aside img {
  margin-left: 0;
  margin-right: 0;
}
#wb-aside .gcwu-minister-img img {
  width: auto !important;
  height: auto;
}
#wb-aside #gcwu-priorities h2 {
  color: #333;
  font-weight: 400;
  border: 0;
  margin-bottom: 5px;
  font-size: 1.6em;
}

#wb-head, #wb-head-in, #gcwu-bnr, #gcwu-bnr-in {
  overflow: visible !important;
}

#wb-main-in fieldset {
  border: 1px solid #ccc;
  padding: 2em 0 0 0;
  /* LTR */
  position: relative;
  margin: 1em 0;
}
#wb-main-in fieldset.collapsed {
  background-color: transparent;
  border-width: 1px !important;
}
#wb-main-in fieldset .fieldset-legend {
  margin-top: 0.5em;
  padding-left: 15px;
  /* LTR */
  position: absolute;
  text-transform: uppercase;
}
#wb-main-in fieldset .fieldset-wrapper {
  padding: 0 13px 13px 15px;
  /* LTR */
}
#wb-main-in fieldset legend {
  height: 0px;
}
#wb-main-in fieldset fieldset {
  background-color: #fff;
}
#wb-main-in fieldset fieldset fieldset {
  background-color: #f8f8f8;
}
#wb-main-in #gcwu-connect {
  margin-left: 0px;
}
#wb-main-in #gcwu-connect h2 {
  font-weight: 400;
  font-size: 1.6em;
  margin-top: 6px;
}

/* Drupal Contrib: Workbench */
#block-workbench-block .workbench-info-block {
  margin: 0px 10px 10px 10px;
  background-color: #ffffce !important;
  color: #000;
  font-weight: 600;
}
